// Custom styles./*将头部背景变为透明*/

.header,.brand{
  background: transparent ;
  color: black ;
}
.brand:hover,.menu-item a:hover{
    color: pink ;
}
.site-description{
  margin-right: 10px ;
}
.github-fork{
  position: fixed ;
  top: 0 ;
  left: 0 ;
  border: 0 ;
}

.site-author-image{
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 2px;
    max-width: 96px;
    height: auto;
    border: 2px solid #333;
}

.site-author-image:hover{
  -webkit-transform: rotate(360deg) scale(1.1,1.1);
  -moz-transform: rotate(360deg) scale(1.1,1.1);
  -ms-transform: rotate(360deg) scale(1.1,1.1);
  -o-transform: rotate(360deg) scale(1.1,1.1);
  transform: rotate(360deg) scale(1.1,1.1);
}